//
// ICON FONTS
//

// Icon List
ul.icon-list {
	@include block-grid($per-row:4);
	text-align: center;

	li {
		i { 
			display: block;
			font-size: 2em; 
			position: relative;
		}
	}

	@media #{$medium-up} {
		text-align: left;
		li i {
			display: inline;
			top: em-calc(2);
			margin-right: em-calc(5);
		}
	} 
}

// Star Icon Label
label.star-icon {
	&::before {
		content: "\f1ee"; /* _foundation-icons.scss, line 552 */
		font-family: "foundation-icons";
		font-size: 2em; 
		position: relative;
		display: block;
		text-align: center;

		@media #{$medium-up} { 
			display: inline;
			top: em-calc(2);
			margin-right: em-calc(5);
		}

	}
}

// Special Effects


.effect1 {
	color: #E33100;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #E33100, 0 0 30px #E33100, 0 0 40px #E33100, 0 0 50px #E33100, 0 0 75px #E33100;
}

.effect2 {
	color: rgba(245, 159, 26, 0.8);
	text-shadow: 1px 4px 6px #FFF, 0 0 0 #000, 1px 4px 6px #FFF;
}

.effect3 {
	color: #2DAEBF;
	text-shadow: 0px 1px 0px #0092b3, 0px 2px 0px #0087a6, 0px 3px 0px #008099, 0px 4px 0px #00758c, 0px 5px 0px #555, 0px 6px 0px #006a80, 0px 0px 0px #006073, 0px 8px 7px #005566;
}

.effect4 {
	text-shadow: 0 1px 3px rgba(0,0,0,0.25);
	color: #A9014B;
}